.group20 {
  margin-top: 100px;
}

.line-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 600px) {
  .line-box {
    width: 95vw;
  }
}

.dates {
  width: 105%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

#time-line {
  width: 60vw;
  height: 8px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bullets {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
}

.text-columns {
  padding-left: 50px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 75vw;
}

@media (max-width: 600px) {
  .text-columns {
    padding-left: 4px;
    width: 100vw;
  }
}

.text-columns > p {
  width: 10vw;
  margin: 0 30px;
}

@media (max-width: 600px) {
  .text-columns > p{
    letter-spacing: normal;
    width: 50px;
    text-align: left;
    overflow: hidden;
  }
}