.footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 20vh;
  margin-top: 300px;
}

.footer-container > p {
  font-size: 20px;
  font-weight: 600;
  width: 10vw;
}

.footer-container > p > a {
  text-decoration: none;
  color: inherit;
  width: 10vw;
}

.footer-icons > a > img {
  height: 30px;
  margin: 15px;
}

@media (max-width: 600px) {
  .footer-container > p {
    display: none;
  }
  .footer-container > p > a {
    display: none;
  }
}