header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.header-container-1 {
  display: flex;
  align-items: center;
}

.header-container-2 {
  display: flex;
}

.header-container-2 > a {
  margin: 0 20px;
  color: inherit;
  text-decoration: none;
}

#logo {
  height: 35px;
  margin: 0 20px;
}

.header-container-3 > a > img {
  height: 25px;
  margin: 0 20px;
}