section {
  padding: 20px;
  display: flex;
}


.left-container {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 150px;
}

.hero-title {
  width: 60%;
  text-align: left;
  font-size: 50px;
  margin: 20px 0;
}

.hero-subtitle {
  width: 60%;
  text-align: left;
  font-size: 30px;
  margin: 10px 0;
  color: rgb(136, 136, 136);
}

.left-container > p {
  width: 60%;
  text-align: left;
  margin: 10px 0;
  color: rgb(136, 136, 136);
}

#resume-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  width: 170px;
  height: 45px;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 67%, #945DD6 100%);
  border-radius: 83px;
}


.right-container {
  width: 50%;
  overflow: hidden;
}

#resume-btn {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 2px;
}
