section {
  padding: 20px;
  display: flex;
}

@media (max-width: 600px) {
  section {
    flex-direction: column;
    padding: 6px;
  }
}


.left-container {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 150px;
}

@media (max-width: 600px) {
  .left-container {
    align-items: center;
    width: 100%;
    padding-left: 20px;
  }
}

.hero-title {
  color: #6dafff;
  width: 60%;
  text-align: left;
  font-size: 50px;
  margin: 20px 0;
}

@media (max-width: 600px) {
  .hero-title {
    width: 90vw;
  }
}

.hero-subtitle {
  font-family: sans-serif;
  width: 60%;
  text-align: left;
  font-size: 30px;
  margin: 10px 0;
  color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 600px) {
  .hero-subtitle {
    width: 90vw;
  }
}

.left-container > p {
  font-family: Arial, Helvetica, sans-serif;
  width: 60%;
  text-align: left;
  margin: 10px 0;
  color: rgba(255, 255, 255, 0.759);
}

@media (max-width: 600px) {
  .left-container > p {
    width: 90vw;
    text-align: left;
  }
}

#resume-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  width: 135px;
  height: 35px;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 67%, #945DD6 100%);
  border-radius: 83px;
}


.right-container {
  width: 50%;
  overflow: hidden;
}

@media (max-width: 600px) {
  .right-container {
    width: 95vw;
    display: flex;
    justify-content: center;
  }
}

#resume-btn > a {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 2px;
  color: inherit;
  text-decoration: none;
}
