* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #0F1624; 
}

.App {
  height: 100%;
  font-family: 'Oswald', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


