* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  font-family: 'Oswald', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  background: #0F1624; 
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


