* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
 
  text-align: center;
  min-height: 100vh;
  font-family: 'Oswald', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  background: #0F1624; 
  color: #FFFFFF;
}


